body, table {
    margin: 0;
    padding: 0;
}

header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
}

#main-section {
    margin-top: 20px;
}

button {
    background-color: #3498db; 
    color: #fff;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

td, th {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

label {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

input {
    padding: 8px;
    font-size: 14px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}
