body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2bb79;
    min-height: 100vh;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2c3e50;
}

label {
    margin-bottom: 10px;
    color: #34495e;
}

select, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #e17d72;
    border: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}
