body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    font-size: 14px;
    width: 200px;
    margin-bottom: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
}

#capital,
#lenguaje {
    font-size: 16px;
    margin-bottom: 10px;
}

#btnLimpiar {
    background-color: #e74c3c;
    margin-top: 20px;
}

#btnLimpiar,
#btnBuscar {
    font-size: 16px;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

#btnBuscar {
    background-color: #2ecc71;
}
